body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #60a5fa, #a78bfa);
}


.contenerdor {
   margin-left: 26%;
   margin-top: 10%;
   border: 1px solid black;
   width: 600px;
   height: 300px;
  background-color: white;
   
  display: grid;
  border-radius: 5px;

}

.titulo {
    background-color: black;
    color: white;
    height: 110px;
}

.titulo h1 {
    margin-left: 20px;
}

.titulo p {
    margin-left: 20px;
}

.formu label {
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
}

.formu form {
    display: grid;
    margin-bottom: 25px;
}

.formu input {
    width: 95%;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    
}

.formu input::placeholder {
    font-size: 16px;
}

.formu button{
    display: block;
   justify-content: center;
   width: 96%;
   height: 35px;
   margin-left: 5px;
   margin-top: 20px;
   font-size: 20px;
   background-color: black;
   color: white;
   border-radius: 5px;
   
   border: none;
}

/* pagina turnos */
.turnoscontent {
    border: 1px solid black;
    background-color: white;
   margin-top: 90px;
   margin-left: 30%;
   width: 500px;
   height: 300px;
   border-radius: 5px;
}

.turnoscontent span {
    text-align: center;
    font-size: 70px;
    position: relative;
    top: 30px;
}

.head  {
    /* margin-left: 40%;
    margin-top: 20%; */
    display: flex;
    justify-content: center;
  background-color: black;
}

.head h3 {
    font-size: 50px;
    color: white;
}

.turnos {
    text-align: center;
}